OUTPUT_ROOT=/home/pi/Recordings
TEMP_DIR=/mnt/ramdisk
PULSE_SERVER=unix:/run/pulse/native
AUDIO_FORMAT=mp3
SOX_VOLUME=5
START_THRESHOLD=0.1%
STOP_DURATION=13.0
STOP_THRESHOLD=0.1%
RECORDING_UMASK=0022
