OUTPUT_ROOT=/home/pi/Recordings
TEMP_DIR=/mnt/ramdisk
PULSE_SERVER=unix:/run/pulse/native
VOX_CHANNELS=freq160545,freq161265
AUDIO_FORMAT=mp3
SOX_VOLUME=4
START_THRESHOLD=0.1%
STOP_DURATION=13.0
STOP_THRESHOLD=0.1%
RECORDING_UMASK=0002
CHECK_RECENT_LOCAL_RECORDINGS=false
CHECK_RECENT_SYNC_SUCCESS=true
MAX_SYNC_SUCCESS_AGE_MINUTES=30
WIFI_CHECK_REMEDY=false
WIFI_CHECK_ALLOW_REBOOT=false
WIFI_CHECK_REBOOT_FAILURE_THRESHOLD=3
