CHANNEL_NAME=freq161265
FREQUENCY_MHZ=161.265
PULSE_MONITOR=myfreq2sink.monitor
OUTPUT_SUFFIX=_161.265
# SOX_VOLUME can be set here to override the shared value in common.env.
START_DURATION=0.5
MIN_BYTES=800
HEALTH_CHECK_RECENT_SAVE=false
MAX_SAVE_AGE_MINUTES=4320
