CHANNEL_NAME=freq160545
FREQUENCY_MHZ=160.545
PULSE_MONITOR=myfreq1sink.monitor
OUTPUT_SUFFIX=_160.545
SOX_VOLUME=3
START_DURATION=0.2
MIN_BYTES=700
HEALTH_CHECK_RECENT_SAVE=true
MAX_SAVE_AGE_MINUTES=1440
