[Unit]
Description=Run train recorder rclone sync periodically

[Timer]
OnBootSec=10min
OnUnitActiveSec=5min
Persistent=true
Unit=sync.service

[Install]
WantedBy=timers.target
