[Unit]
Description=VOX Voice Activated Recorder using SOX (%i)
After=pulseaudio.service rtl_airband.service
Requires=pulseaudio.service

[Service]
Type=simple
User=pi
Group=pi
UMask=0002
WorkingDirectory=/opt/train-recorder
EnvironmentFile=/etc/train-recorder/common.env
EnvironmentFile=/etc/train-recorder/%i.env
ExecStart=/opt/train-recorder/Scripts/vox_record.sh
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
